#!/bin/sh

# {{ ansible_managed }}
# https://github.com/Stouts/Stouts.openvpn

. {{openvpn_etcdir}}/vars

[ -d "$KEY_DIR" ] || {
    mkdir "$KEY_DIR" && \
    chmod go-rwx "$KEY_DIR" && \
    touch "$KEY_DIR/index.txt" && \
    echo 01 >"$KEY_DIR/serial"
}

$EASY_RSA/pkitool --initca && \
$EASY_RSA/pkitool --server {{openvpn_key_name}} && \
$OPENSSL dhparam -out ${KEY_DIR}/dh${KEY_SIZE}.pem ${KEY_SIZE}
