#!/bin/bash

# {{ ansible_managed }}

pasta_dest=/var/www/html
pasta_temp=/tmp/client
dia=`date "+%d-%m-%Y" -d "+90 days"`

if [ -d $pasta_temp ]; then
  rm $pasta_temp/*
else
  mkdir $pasta_temp
fi;

rm $pasta_dest/*

echo -n "Entre com o IP do Servidor de VPN: "
read ip
echo -n "Entre com o login do usuario para VPN: "
read usuario
echo -n "Entre com o Nome Completo do usuario: "
read nome

useradd $usuario -g openvpn_server -M -s /usr/sbin/nologin -e $dia -c "$nome"

echo "A senha digitada aqui será utilizada para autenticar"
passwd $usuario

sed "s/###IPSERVIDOR###/$ip/g" /etc/scripts/client.conf > $pasta_temp/client.conf
sed "s/###IPSERVIDOR###/$ip/g" /etc/scripts/client_Windows.ovpn > $pasta_temp/client_Windows.ovpn

cp /etc/openvpn/keys/ca.crt $pasta_temp
cp /etc/openvpn/keys/{{ openvpn_tls_key }} $pasta_temp
cp /etc/openvpn/keys/dh{{ openvpn_key_size }}.pem $pasta_temp

cd /tmp
tar cfz client.tgz client
zip client.zip client/*
mv client.tgz $pasta_dest
mv client.zip $pasta_dest
rm -rf $pasta_temp


