client
dev tun
proto udp
remote ###IPSERVIDOR###
port {{ openvpn_port }}
persist-key
persist-tun
pull
comp-lzo
keepalive 10 60
float
tls-client
persist-tun
persist-key
dh dh{{ openvpn_key_size }}.pem
ca ca.crt
tls-auth {{ openvpn_tls_key }} 1
route-method exe
route-delay 2
auth-nocache

{% if openvpn_digests -%}
cipher {{ openvpn_cipher }}
auth SHA512
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:
TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA
{% else -%}
;cipher {{ openvpn_cipher }}
;auth SHA512
;tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA
{% endif %}


# Username and Password authentication.
auth-user-pass
remote-cert-tls server
