#!/bin/sh

# {{ ansible_managed }}
# https://www.linode.com/docs/networking/vpn/set-up-a-hardened-openvpn-server

/sbin/iptables-restore < /etc/iptables.rules.v4
/sbin/ip6tables-restore < /etc/iptables.rules.v6
