# {{ ansible_managed }}

server {
   listen 443 ssl;
   ssl_certificate     /etc/openvpn/keys/{{ openvpn_key_name }}.crt;
   ssl_certificate_key /etc/openvpn/keys/{{ openvpn_key_name }}.key;

   root /var/www/html;
   index index.html;
   server_name _;
   location / {
     try_files $uri $uri/ =404;
     auth_basic "Restricted";
     auth_basic_user_file /etc/nginx/.htpasswd;
     autoindex on; ## criado somente para compartilhar arquivos chave
   }
}

