# {{ ansible_managed }}
# http://openvpn-monitor.openbytes.ie/

[OpenVPN-Monitor]
site=Teste
maps=False
geoip_data=/usr/share/GeoIP/GeoIPCity.dat
datetime_format=%d/%m/%Y %H:%M:%S

[VPN1]
host=localhost
port=7505
name=VPN {{ openvpn_port }}
show_disconnect=True

