# {{ ansible_managed }}

proto {{ openvpn_proto }}
port {{ openvpn_port }}
dev {{ openvpn_dev }}
server {{ openvpn_server }}
keepalive {{ openvpn_keepalive }}
max-clients {{ openvpn_max_clients }}
verb {{ openvpn_verb }}
log-append {{ openvpn_log }}
status {{ openvpn_status }}

push ping 10
push ping-restart 60
push "route 10.0.50.0 255.255.255.0"

## Enable compression
{% if openvpn_comp_lzo -%}
comp-lzo
float
{% else -%}
;comp-lzo
;float
{% endif %}

## TLS
tls-auth {{ openvpn_keydir }}/{{ openvpn_tls_key }} 0
tls-server

{% if openvpn_digests -%}
cipher {{ openvpn_cipher }}
auth SHA512
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA
{% else -%}
;cipher {{ openvpn_cipher }}
;auth SHA512
;tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA
{% endif %}

persist-key
persist-tun

# Chaves
dh {{ openvpn_keydir }}/dh{{ openvpn_key_size }}.pem
ca {{ openvpn_keydir }}/ca.crt
cert {{ openvpn_keydir }}/{{ openvpn_key_name }}.crt
key {{ openvpn_keydir }}/{{ openvpn_key_name }}.key

# Username and Password authentication.
username-as-common-name
client-cert-not-required
plugin /usr/lib/openvpn/openvpn-plugin-auth-pam.so openvpn

user {{ openvpn_user }}
group nogroup

{% if openvpn_management -%}
management localhost 7505
{% else -%}
;management localhost 7505
{% endif %}
