# {{ ansible_managed }}
# https://github.com/Stouts/Stouts.openvpn

export EASY_RSA="/usr/share/easy-rsa"
export OPENSSL="openssl"
export PKCS11TOOL="pkcs11-tool"
export GREP="grep"
export KEY_CONFIG=`$EASY_RSA/whichopensslcnf $EASY_RSA`
export KEY_DIR="{{ openvpn_keydir }}"
export PKCS11_MODULE_PATH="dummy"
export PKCS11_PIN="dummy"
export KEY_SIZE={{ openvpn_key_size }}
export CA_EXPIRE={{ openvpn_ca_expire }}
export KEY_EXPIRE={{ openvpn_key_expire }}

export KEY_COUNTRY="{{ openvpn_key_country }}"
export KEY_PROVINCE="{{ openvpn_key_province }}"
export KEY_CITY="{{ openvpn_key_city }}"
export KEY_ORG="{{ openvpn_key_org }}"
export KEY_EMAIL="{{ openvpn_key_email }}"
export KEY_OU="{{ openvpn_key_ou }}"
export KEY_NAME="{{ openvpn_key_name }}"
